body{
	background-color: lavender;
}

.container{
	width: 1422px;
	margin: auto;
}

.logo{
	display:block;
	max-width: 41%;
	margin: 5px;
	margin-left: 31px; 
	padding: 31px;

}
.Menu{
	position: absolute;
	margin: 2px;
	border:1px solid blue;
	padding: 5px;
	height: 371px;
	width: 10%;

}

#qc{
	border-top: 1px dashed blue;
	border-bottom:1px dashed blue;
	padding: 19px;
	height: 385px;
	width: 986px;
}

.q1 {
	float: left;
	margin-left: 140.66px;
	width: 57.3%
	/*position: absolute;
    top: 318px;
    left: 167px;
    height: 308.13px;*/
}

.q2 {
	width: 25.3%;
	float: left;
}
.quangcao {
	display: inline-block;
	float: left;
	width: 1200px;
}


#dh{
    width: 1496px;
    height: 314px;
    padding: 0px;
  /*  border-top: 1px solid blue;
    border-bottom:1px solid blue;
*/
}

#dh{
	border-bottom: 1px dashed blue;
	float: left;
	width: 1422px;
}
#dh img{
	margin: 7px;
	padding: 0px;
	width: 24.5%;
	height:100%;
}

#tl{
	border-bottom: 1px dashed blue;
	float: left;
	width: 1422px;
}
#tl img{
	margin: 7px;
	padding: 0px;
	width: 26.5%;
	height:100%;
}

#mg{
	border-bottom: 1px dashed blue;
	float: left;
	width: 1422px;
}
#mg img{
	margin: 7px;
	padding: 0px;
	width: 25.5%;
	height:100%;
}

#tb{
	border-bottom: 1px dashed blue;
	float: left;
	width: 1422px;
}
#tb img{
	margin: 7px;
	padding: 0px;
	width: 24.4%;
	height:100%;
}

#lt{
	border-bottom: 1px dashed blue;
	float: left;
	width: 1422px;
}
#lt img{
	margin: 7px;
	padding: 0px;
	width: 27%;
	height:100%;
}

#bnn{
	border-bottom: 1px dashed blue;
	float: left;
	width: 1422px;
}
#bnn img{
	margin: 7px;
	padding: 0px;
	width: 27%;
	height:100%;
}

#b{
	border-bottom: 1px dashed blue;
	float: left;
	width: 1422px;
}
#b img{
	margin: 7px;
	padding: 0px;
	width: 27%;
	height:100%;
}

.position{
	position: fixed;
	bottom: 19px;
	right: 26px;
	width: 2.5%
}

a{text-decoration: none;
}


span{
	color: black;
}

h4{
	color: blue;
}

h4:hover{
	color: red;
}